
<% include ../partials/header %>

<div class="container">
  <h1>Admins</h1>

  <%- messages() %>

  <ul class="list-group">
    <% for(let i = 0; i < admins.length; ++i) { %>
      <li class="list-group-item">
        <h4>
          <a href='/admins_<%= admins[i]._id %>'>Name: <%= admins[i].username %></a>
        </h4>

        <p>
          Added By: <%= admins[i].addedBy %>
          <br />
          <% if (admins[i].updatedBy) { %>
            Updated By: <%= admins[i].updatedBy %>
          <% } %>
        </p>

        <a class="btn btn-primary" href="/edit-admin_<%= admins[i]._id %>">Edit</a>

        <a class="btn btn-danger delete-admin" href="#" id="<%= admins[i]._id %>">Delete</a>
      </li>

    <% } %>
  </ul>

</div>

<% include ../partials/footer %>
