
<% include ../partials/header %>

  <div class="container">
    <h1>Birds for Sale</h1>
    <h2><%= birds.length %> Results</h2>

    <form method='GET' action='/api/birds' class="my-3" id="filter-form">
      <button class="btn btn-primary mb-3" onclick="submit" id="filter-button">Filter</button>
      <br />

      <input type="checkbox" value="Large Parrot" name="categories" aria-label="Checkbox for large parrot" id="filter-checkbox-0">
      <label for="large-parrot">Large Parrot</label>
      <br />

      <input type="checkbox" value="Medium Parrot" name="categories" aria-label="Checkbox for medium parrot" id="filter-checkbox-1">
      <label for="medium-parrot">Medium Parrot</label>
      <br />

      <input type="checkbox" value="Small Parrot" name="categories" aria-label="Checkbox for small parrot" id="filter-checkbox-2">
      <label for="small-parrot">Small Parrot</label>
      <br />

      <input type="checkbox" value="Poultry" name="categories" aria-label="Checkbox for poultry" id="filter-checkbox-3">
      <label for="poultry">Poultry</label>
      <br />

      <input type="radio" value="< 100" name="price" aria-label="Radio button for less than 100 euro" id="filter-radio-0">
      <label for="poultry">&lt; 100</label>
      <br />

      <input type="radio" value="< 300" name="price" aria-label="Radio button for less than 300 euro" id="filter-radio-1">
      <label for="poultry">&lt; 300</label>
      <br />

      <input type="radio" value="< 500" name="price" aria-label="Radio button for less than 500 euro" id="filter-radio-2">
      <label for="poultry">&lt; 500</label>
      <br />

      <input type="radio" value="< 800" name="price" aria-label="Radio button for less than 800 euro" id="filter-radio-3">
      <label for="poultry">&lt; 800</label>
      <br />

      <input type="radio" value="< 1000" name="price" aria-label="Radio button for less than 1000 euro" id="filter-radio-4">
      <label for="poultry">&lt; 1000</label>
      <br />

      <input type="radio" value="> 1000" name="price" aria-label="Radio button for more than 1000 euro" id="filter-radio-5">
      <label for="poultry">&gt; 1000</label>
      <br />

      <input name="sort" id="sortby-input" class="btn btn-outline-secondary dropdown-toggle mt-3"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" />

      <span>Sort By: </span>
      <button class="btn btn-outline-secondary dropdown-toggle mt-3" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" id="dropdown-selection">Breed A-Z</button>

      <div class="dropdown-menu">
        <button id="sort-btn-0" class="dropdown-item" onclick="submit" value="breed asc">Breed A-Z</button>
        <button id="sort-btn-1" class="dropdown-item" onclick="submit" value="breed desc">Breed Z-A</button>
        <button id="sort-btn-4" class="dropdown-item" onclick="submit" value="price asc">Price High to Low</button>
        <button id="sort-btn-5" class="dropdown-item" onclick="submit" value="price desc">Price Low to High</button>
        <button id="sort-btn-2" class="dropdown-item" onclick="submit" value="date asc">Most Recent</button>
        <button id="sort-btn-3" class="dropdown-item" onclick="submit" value="date desc">Oldest</button>
      </div>
    </form>

    <%- messages() %>

    <% if (user) { %>
      <button class="btn btn-danger delete-all-birds mb-3">Delete All</button>
    <% } %>

    <ul class="list-group birds-list">
      <% for(let i = 0; i < birds.length; ++i) { %>
        <li class="list-group-item">
          <h5>
            <a href='/birds_<%=birds[i]._id %>'>Breed: <%= birds[i].breed %></a>
          </h5>

          <p>
            Price: <%= birds[i].price %> <br />
            Category: <%= birds[i].category %> <br />
            Added By: <%= birds[i].addedBy %> <br />
            Date: <%= birds[i].date %> <br />
            Time: <%= birds[i].time %>
          </p>

          <% if (user) { %>
            <a class="btn btn-primary" href="/edit-bird_<%= birds[i]._id %>">Edit</a>

            <button class="btn btn-danger delete-bird" id="<%= birds[i]._id %>">Delete</button>
          <% } %>
        </li>
      <% } %>
    </ul>
  </div>

<% include ../partials/footer %>
