<div class="bird-list__container">
    <ul>
        <% for (let i = 0; i < birds.length; ++i) { %>
        <li class="bird-list__item">
            <div class="bird-list__item__header">
                <a href='/birds_<%=birds[i]._id %>'>
                    <%= birds[i].breed %>
                </a>
            </div>

            <div class="bird-list__item__content">
                <div class="bird-list__img">
                    <img src=<%= birds[i].images[0].path %> />
                </div>

                <div class="bird-list__details">
                    <p>
                        Price: <%= birds[i].price %> <br />
                        Category: <%= birds[i].category %> <br />
                        Added By: <%= birds[i].addedBy %> <br />
                        Date: <%= birds[i].date %> <br />
                        Time: <%= birds[i].time %>
                    </p>
                    <% if (user) { %>
                        <a href="/edit-bird_<%= birds[i]._id %>">
                            Edit
                        </a>
                        <button id="<%= birds[i]._id %>">
                            Delete
                        </button>
                    <% } %>
                </div>
            </div>
        </li>
        <% } %>
    </ul>
</div>